* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.w-20 {
    width: 20%;
}

.w-60 {
    width: 60%;
}

.w-50 {
    width: 50%;
}

.f-left {
    float: left;
}

.center {
    text-align: center;
}

.right{
    text-align: right;
}

.btn {
    border-radius: 30px;
}

.btn-w {
    background-color: white;
}

.btn-da {
    background-color: rgb(35, 39, 42);
}

.btn-big {
    padding: 18px 30px;
}

.white {
    color: white;
}

.black {
    color: black;
}